.cardInner {
    @apply w-full h-full rounded-xl bg-[#f7f7f7];
    box-shadow: 
    8px 8px 14px 0 rgba(0, 0, 0, 0.08),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.35);
    }

.google-home {
    @apply border border-sf-Blue;

}
.smart-light {
    @apply border border-sf-teal;
}
.smart-switch {
    @apply border;
}
.smart-lock{
    @apply border;
}
.zigbee {
    @apply border border-lime-400;
}
.z-wave {
    @apply border;
}
.home-assistant {
    @apply border border-emerald-400;
}
.product {
    @apply border;
}
.automations {
    @apply border;
}
.blog {
    @apply border;
}
.ecosystem {
    @apply border;
}

.smart-things {
    @apply border;
}
.roundButton {
    @apply rounded-xl w-fit px-2 py-1 m-1 text-[0.5rem] font-Bree-Serif text-sf-dark-gray cursor-pointer;
    box-shadow:  3px 3px 8px 0 rgba(0, 0, 0, 0.25),
                -4px -4px 6px 0 rgba(255, 255, 255, 0.3);

    background: linear-gradient(-45deg, rgba(0,0,0,0.05), 
                rgba(255,255,255,0.5));
}
.roundButton:active {
    box-shadow:  inset 3px 3px 3px 0 rgba(0, 0, 0, 0.25),
                -2px -2px 3px 0 rgba(255, 255, 255, 0.3);
}
